<div class="container">
  <header>
    <h1>Hungry for apples?</h1>
  </header>
  <div>
    <p>
      <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat deserunt eaque velit in amet veniam officiis quaerat cupiditate, minima aut culpa dolorem aliquid beatae quibusdam facere! Earum dolore rem, accusamus!</span><br />
      <span>Cum eius at voluptatem, ipsa animi odit quas delectus exercitationem eligendi doloremque, eveniet nesciunt officiis vitae quam sed sint. Quos minus molestiae consequatur facere quod tempore maiores, incidunt harum ad!</span>
      <span>Facilis at expedita quia. Nihil, blanditiis, consequuntur. Pariatur veniam esse doloribus, et nisi deserunt in voluptatem, aliquid eius nam incidunt inventore, odit dolorem aperiam, dignissimos explicabo fuga. Nisi, tenetur, suscipit.</span>
      <span>Ad, ea ratione! Veniam repudiandae consectetur, dicta nulla, fuga quibusdam dignissimos maxime officia pariatur laboriosam, repellendus incidunt sed voluptas sint. In inventore sunt quisquam temporibus assumenda qui, illo ut unde.</span>
    </p>
  </div>
</div>