<div class="container">
  <div id="mainLanding" class="splashImage">
    <div class="darkOverlay">
      HUNGRY FOR APPLES?
    </div>
  </div>

  <div class="acctWrap">
    <% if @current_user.nil? %>
      <div class="signUpButton main">
        Sign up
      </div>
    <% else %>

    <% end %>
</div>

  <div id="accountLand" class="splashImage">
  </div>

  <div class="acctWrap">

</div>

  <div id="awardBox" class="splashImage">
    <div class="darkOverlay">
      <%= image_tag "splashes/Young_Artist_Award.jpg" %>
      <p>
        <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum porro, distinctio sit eos similique, eligendi dolorem aspernatur veniam dignissimos, provident at eaque? Rerum, doloremque soluta exercitationem recusandae! Sunt, culpa non.</span>
        <span>Est labore et, facilis quidem ipsa ratione inventore consequatur accusantium repellat delectus minus numquam voluptatem reiciendis vero nemo consectetur culpa exercitationem, ipsam. Error incidunt laborum velit reiciendis minima numquam facilis!</span>
        <span>Labore veritatis sunt unde sit officia id adipisci inventore tempora modi reiciendis corporis nulla repudiandae dolore, voluptas atque ducimus explicabo quidem voluptatibus facilis corrupti. In soluta voluptate debitis officia odit?</span>
      </p>
      <!-- <img src="" alt=""> -->
    </div>
  </div>

  <script>
  var $body = $('body');
  var $splashImage = $('.splashImage');
  $(window).on('scroll', function () {
    var scrollTop = $(window).scrollTop();
    $body.css('background-position-y', -scrollTop / 0.5); // Entire background
    $splashImage.css('background-position-y', -scrollTop * 0.2); // Just Bill
  });
  </script>

</div>