<div class="container">
  <p>
  <strong>User:</strong>
  <%= @cart.user_id %>
</p>

<p>
  <strong>Completed:</strong>
  <%= @cart.purchase_completed %>
</p>

<!-- <## @cart.cart_items.each do |item| %>
<div class="cartRow">
  <p>Item: <#= item.product.name %></p> |
  <p>Quantity: <# item.quantity %></p>
  <p><## link_to "Add", add_path( item.product ), remote: true %></p>
  <p><## link_to "Remove", remove_path( item.product ), remote: true %></p> |
  <p>Price: <## number_to_currency ( item.product.price )*item.quantity %></p> |
  <## link_to "Delete", item, method: :delete, data: { confirm: "Are you sure?" }  %>

</div> -->

<div class="items"></div>
<!-- <%# end %> -->
<%= link_to "Clear cart", clear_path, data: { confirm: 'Are you sure you want to remove all items?' } %>


</div>


<script type="text/javascript">
  
var cartID = <%= params["id"] %>

  var getCart = function( id ){
    $.ajax({
      url: "/carts/" + id ,
      dataType: "JSON",
      method: 'get'
    }).done(function( d ) {
      // console.log( d );
      renderItems( d );
    });
  }

getCart( cartID )

  var renderItems = function( d ){
    var row = $('<div></div>');
    d.cart.cartItems.forEach( function( item ){
      console.log( item );
      // debugger

      $(row).append( '<p>Item: ' + item.productName +
        " | Quantity: " +item.quantity + 
        " | Price: $" + item.productPrice.toFixed(2) +
        ' | <a class="cartButton" onClick="getCart(' + cartID + ')" data-remote="true" href="/carts/add_item/' + item.cartProductId + '">Add</a>' +
        ' | <a class="cartButton" onClick="getCart(' + cartID + ')" data-remote="true" href="/carts/remove_item/' + item.cartProductId + '">Remove</a>' +
        ' | <a class="cartButton" onClick="getCart(' + cartID + ')" data-remote="true" data-method="delete" rel="nofollow" data-confirm="Are you sure?" href="/carts/delete_item/' + item.cartItemId + '">Delete</a>' +
       '</p>' );
    });
    // debugger
  $('.items').html(row);
};

$(document).ready(function(){
  $('.cartButton').on("click", function(e){
    debugger
    console.log( e )
    console.log("Ping.")
      getCart( cartID );
  });
});

$('.test').on("click", function(){
  alert();
})

// window.setInterval(function(){
// }, 1000);




</script>




