<p id="notice"><%= notice %></p>

<% if @current_user != @cart.user || @cart.purchase_completed %>
  <%= render 'non_editable_contents', cart: @cart %>
<% else %>
  <%= render 'contents', cart: @cart %>
<% end %>
