// * {
//   font-family: arial
// }

// .container {
//   header {
//       text-align: center;
//   }
//   width: 80%;
//   border: 1px solid black;
//   margin: auto;
// }

// footer {
//   height: 70px;
//   width: 80%;
//   border: 1px solid black;
//   margin: auto;
//   text-align: center;
//   padding-top: 50px;
// }

.darkOverlay {
  background-color: rgba( 0, 0, 0, 0.6 );
  color: white;
  padding: 10% 0;
}

svg {
  // width: 100px;
}