// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// INDEX

.productContainer {
    text-align: center;
    .productLink {
      text-decoration: none;
      color: rgba( 60, 40, 80, 0.5 );
      &:hover {
        color: rgba( 90, 40, 80, 0.7 );
      }
    }

  .productWrapper {
    border: 1px solid black;
    width: 18%;
    margin: 10px auto;
    display: inline-block;
    height: 16em;
    vertical-align: top;

    .iconWrapper {
      width: 130px;
      height: 130px;
      overflow: hidden;
      margin: 10px auto;
      border: 1px solid gainsboro;

        .productIcon {
          position: relative;
          height: 100%;
          // min-width: 140px;
        }
      }

    .productTextWrapper {
      position: relative;
      margin: auto;
      border: 1px solid rgba(255, 0, 0, 0.2);
      height: 40%;

      h3 {
        font-size: 1em;
      }

      .productName {
        line-height: 5em;
        text-align: center;
        span {
          display: inline-block;
          vertical-align: middle;
          line-height: normal;
        }
      }

      .productPrice {
        position: absolute;
        bottom: 0px;
        height: 1.5em;
        width: 100%;
        border: 1px solid green;
        font-size: 0.9em;
        font-weight: 800;
          div {
            // position: absolute;
            // bottom: 0px;

            // vertical-align: bottom;
          }
      }

    }
  }
}

// SHOW

  // .productImage {
  //   float: left;
  // }

  // .category {
  //   color: rgba( 80, 230, 80, 1 );
  //   border: 1px solid rgba( 80, 230, 80, 1 );
  //   background-color: rgba( 180, 255, 180, 0.8 );
  //   padding: 0 2px;
  // }
